.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.idea/
.DS_Store
/build/
*.lock
android/app/proguard/mapping.txt
android/app/proguard/seeds.txt
android/app/proguard/unused.txt
android/app/release/Mind_3.2.1(1801)_release_04282132.apk
android/app/release/output-metadata.json
android/app/build/
/.vscode/
ios/Gemfile.lock
ios/fastlane/Release/*
ios/fastlane/Debug/*
ios/fastlane/Appstore/*
ios/fastlane/report.xml
ios/fastlane/fir_Release/*
ios/fastlane/fir_TF/*
android/fastlane/report.xml


lib/generated


.fvm/flutter_sdk
/pub_version_records/

devtools_options.yaml
